<h1> My Diary </h1>

<form action="{% url 'save' %}" method="post">
{% csrf_token %}
<input type="hidden" name="new_flag" value="1">
<input type="hidden" name="entry_id" value="0">
<h3>subject :: </h3>
<input type="text" name="subject">
<p />
<h3> Input your diary here :::: </h3>
<textarea name="body" rows="3" cols="50"></textarea>
<p />
<input type="submit" value="Submit">
</form>

<ul>
{% for entry in entries  %}
<li><a href="{% url 'viewdiary' entry.pk %}">{{ entry.subject }}</a></li>
{% endfor %}
</ul>
